th,td {
    text-align: left;
    padding-right: 10px;
}
.RowHighlight:hover{
background-color: lightgreen;
}
.marked {
    background-color: green;
}
input[type="checkbox"]:checked +.RowHighlight{
    background-color: green;
}

