th,td {
    text-align: left;
    padding-right: 10px;
}
.RowHighlight:hover{
background-color: lightgreen;
}
.marked {
    background-color: green;
}
input[type="checkbox"]:checked +.RowHighlight{
    background-color: green;
}

/* BOOKS CSS*/
#txtBookDescription {
    resize: none;
}
#txtGenreDescription {
    resize: none;
}
#ReviewText {
    resize: none;
}
a {
    padding: 10px;
}
.bookImage {
    height:400px;
}

body {
    background-color: #212529 !important; 
    color: whitesmoke !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.card {
    background-color: #212529 !important; 
    color: whitesmoke !important;
}
/* AUTHOR CSS */
.authorImage {
    height:400px;
}


/* COMMENTS CSS */
.img-sm {
    width: 46px;
    height: 46px;
}


.media-block .media-left {
    display: block;
    float: left;
}

.media-block .media-right {
    float: right;
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}

.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

/* QUIZ CSS */
#quizparent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.quizchild {
    height: auto;
    width: 800px;
    padding: 20px;
    background-color: slategray;
    margin: 10px;
}
#quizformparent {
    display: flex;
    flex-wrap: wrap;
}

.quizformchild {
    height: auto;
    width: 400px;
    padding: 20px;
    margin: 10px;
}
#defaultCanvas0 {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    z-index: -1;
}


/* PROFILE CSS */
.userProfileInfo .image {
    position: relative
}

.box {
    background: #fff;
    padding: 30px;
    margin: 0 0 24px 0
}



@media (min-width: 992px) {
    .userProfileInfo .image img {
        width: 100%;
    }

}

