th,td {
    text-align: left;
    padding-right: 10px;
}
.RowHighlight:hover{
background-color: lightgreen;
}
.marked {
    background-color: green;
}
input[type="checkbox"]:checked +.RowHighlight{
    background-color: green;
}

/* BOOKS CSS*/
#txtBookDescription {
    resize: none;
}
#txtGenreDescription {
    resize: none;
}
#ReviewText {
    resize: none;
}
a {
    padding: 10px;
}

body {
    background-color: #212529 !important; 
    color: whitesmoke !important;
}
.card {
    background-color: #212529 !important; 
    color: whitesmoke !important;
}


